SMTP_RELAY_HOST=smtp.serviciodecorreo.es
SMTP_RELAY_PORT=587
SMTP_RELAY_USER=admin@arvera.es
SMTP_RELAY_PASSWORD=CAMBIAR_ESTA_PASSWORD
SMTP_RELAY_MYHOSTNAME=smtp-relay.local
SMTP_RELAY_SENDERS=grico@arvera.es info@arvera.es admin@arvera.es castellano@arvera.es
